.vscode/**
.vscode-test/**
.claude/**
src/**
tests/**
**/*.map
**/*.ts
**/tsconfig.json
**/biome.json
**/esbuild.config.mjs
node_modules/**
.gitignore
.local/**
**/.DS_Store
*.vsix
vitest.config.ts
bun.lock
bun.lockb
package-lock.json
yarn.lock
pnpm-lock.yaml
